<img src="http://2.bp.blogspot.com/-Al9-SWLlHdo/UmGvQhcFQqI/AAAAAAAAACk/mBRacWRhQSw/s400/logoH2.png" />
<p>
Hello {{ first_name }},
</p>
<p>

	You are receiving this email because someone requested a password reset for {{ username }}.  If this was you then there 
	is nothing to worry about.   <strong>Please follow <a href = 'http://localhost/account/forgot.new_password/{{ id }}/{{ reset_code }}'>this link</a>
	to reset it.</strong>  

</p>

<p>
	If you didn't request this code, please contact us at support@chfgroup.us.
</p>