#shopping_cart{
	float:left;
	margin-left: 15px;
	margin-top: 50px;	
	border: solid black 1px;
}

#billing_info{
	float:left;
	margin-left: 15px;
	margin-top: 50px;
	border: solid black 0px;
}

#billing_info > table tr td{
	border: none;
	padding: 5px;
	font-size: 18px;
	font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}


td > img{
	max-width: 100px;
	max-height: 100px;
	color:green;
	vertical-align: middle;


}

td{
	padding-left: 25px;
	border-bottom: 2px solid black;
	font-size: 1.5em;
	text-align: center;
	vertical-align: middle;
}

th{
	padding-left:25px;
	text-align: center;
		font-size: 1.5em;
}

#btn_checkout td{
	padding-top:15px;
	border-bottom: 0px black solid;
}

p {
	font-size: 18px;
}