td > img{
	max-width: 250px;
	max-height: 100px;
	color:green;
}

td{
	padding-left: 25px;
	border-bottom: 2px solid black;
}

th{
	padding-left:25px;
	text-align: center;
}

#btn_checkout td{
	padding-top:15px;
	border-bottom: 0px black solid;
}