IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

h1 {
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}