<%inherit file="homepage/templates/base.htm"/>

<%block name="content">

<title>About CHF</title>

<br><br><br>
<div class="canvas">
<h1 align="center">Preserving America's founding values.</h1><br>
<div class="about">
<p >Lorem ipsum dolor sit amet, ut liber eruditi conceptam his. Alienum copiosae eos eu, est facer eruditi scripserit ea. Eu augue aperiri maiestatis sed, aliquid lucilius pertinacia in eos. Ea pri pertinax appellantur, id cum clita quando. Sint facer complectitur ius eu, laoreet mediocrem cu per.</p>

<p >Usu quis deleniti an, timeam indoctum voluptaria et eam. Nemore dolores quo ne, id prima iisque suscipit pri, tale abhorreant at sea. Fuisset dolores imperdiet ne usu, homero dolores ad est. Et usu vocibus temporibus efficiantur, sit alia aperiri ut. Reque molestie praesent sit ut. Partiendo expetenda ne vel, delenit tractatos has id, novum necessitatibus no mei.</p>

<p >In commune tacimates assueverit sit. Cetero admodum ei per, et vix legere voluptatum. Pri et viris aperiri, eu sit velit cetero habemus. Tamquam voluptatibus eu est, ei clita insolens sed. Ne probo tempor eum, an efficiendi instructior complectitur sea.</p>

<p >Per ut duis vocibus. Id essent laoreet nam, in eum consul tibique, nec aperiam dolores quaestio at. Ad alterum minimum vim, ne usu lorem congue, sea mediocrem vulputate forensibus ad. Purto invenire at his. Sit te fuisset salutatus, eu vis wisi adolescens. Amet aeterno fastidii an eos, quo aperiam feugait ea.</p><br>
</div>
</div>

<div class="images">
<img src="${ STATIC_URL }homepage/media/about1.jpg" width="290px" alt="Colonial Heritage Foundation">
<img src="${ STATIC_URL }homepage/media/about2.jpg" width="290px" alt="Colonial Heritage Foundation">
<img src="${ STATIC_URL }homepage/media/about3.jpg" width="290px" alt="Colonial Heritage Foundation">
</div>
</%block>