<%inherit file="base.htm" />

<%block name = "title">
	CHF - Terms
</%block>

<%block name="content">
    <div class="content">
    	<p>
	     	The Colonial Heritage Foundation is a non-profit org and you visit the 
	     	events at your own discretion.  It is sad that I even have to say this
	     	but where common sense is no longer common, you can potentially get hurt here. 
	     	Last here some dope-head lit his dumb shaggy hair on fire because he grabbed the 
	     	blacksmith's red hot iron from him and tried to curl his hair.  He lost the law suit.
	     </p>
     	<p>Anyways, please refrain from doing things that could get you hurt.</p>
	</div>
</%block>

<%block name = "header">
	Terms and Conditions
</%block>